.photos{
    max-width: 1120px;
    margin: auto;
}

.photo{
    display: flex;
    gap: 10px;
}
.big-photo{
    flex: 2;
}
.sm-photo{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img{
    width: 100%;
}

.maps{
    width: 80%;
    margin: auto;
}

i{
    color: #DFB163;
    margin-right: 0.3em;
}
.icon{
    margin-right: 0.7em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, max(560px, 1fr));
    grid-gap: 10px;
    padding: 0.3em;
}
.localisation{
    width: 100%;
    height: 30vh;
}

.carrousel-titre{
    color: #DFB163;
}


.bandeau .series{
    display: flex;
    flex-wrap: wrap;
}
.series figure img{
    width: 100%;
    height: 40vh;
}
.series figure{
    flex: 1;
}

