.photos{
    max-width: 1120px;
    margin: auto;
}

.photo{
    display: flex;
    gap: 10px;
}
.big-photo{
    flex: 2;
}
.sm-photo{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img{
    width: 100%;
}

.maps{
    width: 80%;
    margin: auto;
}

i{
    color: #DFB163;
    margin-right: 0.3em;
}
.icon{
    margin-right: 0.7em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, max(560px, 1fr));
    grid-gap: 10px;
    padding: 0.3em;
}
.localisation{
    width: 100%;
    height: 30vh;
}
#banniere{
    height: 60vh;
    width: 100%;
    background-color: #DFB163;
    animation: fondu 60s ease-in-out infinite both;
}

@keyframes fondu {
    0%{background-image: url("../img/blog-3.jpg");}
    33.33%{background-image: url("../img/blog-4.jpg");}
    66.67%{background-image: url("../img/blog-1.jpg");}
    100%{background-image: url("../img/blog-2.jpg");}
}

.d1{
    width: 100%;
    height: 432px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 60s ease-in-out infinite both;
}

@keyframes fondu{
    0%{background-image: url("../img/maison-2.jpg");}
    33.33%{background-image: url("../img/maison-3.jpg");}
    66.67%{background-image: url("../img/carousel-2.jpg");}
    100%{background-image: url("../img/carousel-1.jpg");}
}

.photoEquipe{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    margin: auto;
}
.photo{
    width: 186px;
    height: 126px;
    margin: 1em;
    border-radius: 30px;

}